$primary-color: #d8292f;
$secondary-color: #005078;

section {
    h1 {
        color: #005078;
        mat-spinner {
            display: inline-block;
            margin-left: 10px;
            top: 2px;
        }
    }
    .table-container {
        overflow-x: auto;
        .mat-mdc-table {
            .mat-mdc-header-row {
                background-color: $primary-color;
            }
            .mat-mdc-header-cell {
                color: #FFF;
            }
            .mat-mdc-row {
                cursor: pointer;
            }
            .mat-mdc-row:hover {
                background-color: whitesmoke;
            }
            .details-btn {
                background-color: $secondary-color;
                color: #FFF;
                text-decoration: none;
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .mat-mdc-paginator {
            margin-bottom: 50px;
        }
    }
}

@media only screen and (max-width: 825px) {
    .mat-column-variety, .mat-column-notes, .mat-column-intensifier {
        display: none;
    }
}
@media only screen and (max-width: 426px) {
    .mat-column-link {
        display: none;
    }
}
